name: CI

on:
  push:
    branches:
      - staging
      - trying
  pull_request:
    branches: [main]
  workflow_dispatch:

env:
  CARGO_TERM_COLOR: always
  DEFAULT_BRANCH: ${{ github.event.repository.default_branch }}

jobs:
  get_pr_number_pr_event:
    name: Get the PR number from PR event
    runs-on: ubuntu-latest
    outputs:
      pr_number: ${{ steps.pr.outputs.number }}
    steps:
      - name: Dump context
        uses: crazy-max/ghaction-dump-context@v1.2.1
      - name: Get PR number
        id: number
        if: github.event_name == 'pull_request'
        run: |
          NUMBER=${{ github.event.pull_request.number }}
          echo "PR_NUMBER=$NUMBER" >> $GITHUB_ENV
          echo "::set-output name=number::$NUMBER"

  get_pr_number_push_event:
    name: Get the PR number from Push event
    runs-on: ubuntu-latest
    outputs:
      pr_number: ${{ steps.pr.outputs.number }}
    #env:
    #  prTitle: ${{ github.event.head_commit.message }}
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Dump context
        uses: crazy-max/ghaction-dump-context@v1.2.1

      - name: Get PR number
        id: number
        if: github.event_name == 'push' && github.ref == 'refs/heads/staging'
        run: |
          NUMBER=$( echo '${{ github.event.head_commit.message }}' | tr -cd [:digit:] )
          echo "PR_NUMBER=$NUMBER" >> $GITHUB_ENV
          echo "::set-output name=number::$NUMBER"

  get_pr_number:
    name: Get a PR number
    runs-on: ubuntu-latest
    needs:
      - get_pr_number_pr_event
      - get_pr_number_push_event
    outputs:
      pr_number: ${{ steps.pr.outputs.number }}
    steps:
      - name: Print PR number
        id: pr
        run: |
          echo $GITHUB_ENV

          if [[ ${{ github.event_name == 'pull_request' }} ]]; then
            NUMBER=${{ github.event.pull_request.number }}
          else
            NUMBER=$( echo '${{ github.event.head_commit.message }}' | tr -cd [:digit:] )
          fi

          echo "PR number is: $NUMBER"
          echo "::set-output name=pr_number::$NUMBER"

  generate_changelog:
    needs: get_pr_number
    uses: ./.github/workflows/generate-changelog.yml
    secrets: inherit
    with:
      event_name: ${{ github.event_name }}
      pr_number: ${{ needs.get_pr_number.outputs.pr_number }}

  done:
    name: Done
    if: github.event_name == 'push' && github.ref == 'refs/heads/staging'
    needs:
      - generate_changelog
    runs-on: ubuntu-latest
    steps:
      - name: Done
        run: echo "Done!"
