name: CI

on:
  push:
    branches:
      - staging
      - trying
  pull_request:
    branches: [main]
  workflow_dispatch:

env:
  CARGO_TERM_COLOR: always
  DEFAULT_BRANCH: ${{ github.event.repository.default_branch }}


jobs:

  get_pr_number_pr_event:
    name: Get the PR number from PR event
    runs-on: ubuntu-latest
    steps:
      - name: Get PR number
        if: github.event_name == 'pull_request'
        run: |
          echo "PR_NUMBER=${{ github.event.pull_request.number }}" >> $GITHUB_ENV

  get_pr_number_push_event:
    name: Get the PR number from Push event
    runs-on: ubuntu-latest
    env:
      prTitle: ${{ github.event.commit.message }}
    steps:
      - name: Get PR number
        if: github.event_name == 'push' && github.ref == 'refs/heads/staging'
        run: |
          echo "PR_NUMBER=$( echo ${prTitle} | grep -Po (?<=\(#)\d(?=\)) )" >> $GITHUB_ENV

  get_pr_number:
    name: Get a PR number
    runs-on: ubuntu-latest
    needs:
      - get_pr_number_pr_event
      - get_pr_number_push_event
    outputs:
      pr_number: ${{ steps.pr.outputs.number }}
    steps:
      - name: Print PR number
        id: pr
        run: |
          echo "::set-output name=number::${{ env.PR_NUMBER }}"

  generate_changelog:
    needs: get_pr_number
    uses: ./.github/workflows/generate-changelog.yml
    with:
      event_name:  ${{ github.event_name }}
      pr_number: ${{ needs.get_pr_number.outputs.pr_number }}

  done:
    name: Done
    if: github.event_name == 'push' && github.ref == 'refs/heads/staging'
    needs:
      - generate_changelog
    runs-on: ubuntu-latest
    steps:
      - name: Done
        run: echo "Done!"
