name: CI

on:
  push:
    branches:
      - staging
      - trying
  pull_request:
    branches: [main]
  workflow_dispatch:

env:
  CARGO_TERM_COLOR: always
  DEFAULT_BRANCH: ${{ github.event.repository.default_branch }}


jobs:
  setup:
    name: Setup
    runs-on: ubuntu-latest
    outputs:
      branch-name: ${{ steps.extract-branch.outputs.name }}
    steps:
      - name: Extract branch name
        shell: bash
        run: echo "##[set-output name=branch;]$(echo ${GITHUB_REF#refs/heads/})"
        id: extract-branch

  generate_changelog:
    uses: tjtelan/bot-test/.github/workflows/generate-changelog.yml@pr-6

  done:
    name: Done
    if: github.event_name == 'push' && github.ref == 'refs/heads/staging'
    needs:
      - generate_changelog
    runs-on: ubuntu-latest
    steps:
      - name: Done
        run: echo "Done!"
