name: Generate CHANGELOG.md

on:
  workflow_call:
    inputs:
      event_name:
        required: true
        type: string
      pr_number:
        required: true
        type: number
  workflow_dispatch:

env:
  CHANGELOG_FILENAME: CHANGELOG.md

jobs:
  get_pr_info:
    name: Get the PR branch name and issue number
    #outputs:
    #  pr_branch: ${{ steps.pr_info.outputs.name }}
    #  pr_number: ${{ steps.pr_info.outputs.number }
    #  pr_title: ${{ steps.pr_info.outputs.title }
    permissions: read-all
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      # This will only work in PRs
      - name: Get PR info from pull request event
        if: inputs.event_name == 'pull_request'
        id: info
        uses: Brymastr/pr-info-action@v1

      # TODO: figure this out when bors gets here
      - name: Set outputs
        if: inputs.event_name == 'pull_request'
        run: |
          echo "PR_BRANCH=${{ step.pr_info.outputs.head_branch}}" | tee $GITHUB_ENV
          echo "PR_NUMBER=${{ step.pr_info.outputs.number}}" | tee $GITHUB_ENV
          echo "PR_TITLE=${{ step.pr_info.outputs.title}}" | tee $GITHUB_ENV

      - name: Get PR info from push event
        if: inputs.event_name == 'push'
        run: |
          gh auth login < ${{ secrets.GITHUB_TOKEN }}
          gh pr checkout ${{ inputs.pr_number }}
          echo "PR_BRANCH=$(git rev-parse --abbrev-ref HEAD)" | tee $GITHUB_ENV
          echo "PR_NUMBER=${{ inputs.pr_number }}" | tee $GITHUB_ENV
          echo "PR_TITLE=$(git log -n 1 --pretty=format:'%s')" | tee $GITHUB_ENV



  ## If this is staging, check if the Changelog is up to date first
  ## if not, update it. This will end up with Bors cancelling the test
  ## Comment in PR to restart the test
  #  changelog_premerge_check:
  #    name: Check if Changelog is up to date before running merge CI
  #    runs-on: ubuntu-latest
  #    steps:


  # If event is workflow_dispatch, just add note that CHANGELOG.md was updated
  # If event is workflow_call, then

  # Check if this is PR run or a Bors staging run
  # If PR run, we can reuse the title and PR number
  # Otherwise, we will reuse the commit message

  generate_changelog:
    name: Generate changelog
    runs-on: ubuntu-latest
    needs: get_pr_info
    outputs:
      needs-commit: ${{steps.repo-check.outputs.result}}
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Configure git user
        run: |
          git status
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"

      #- name: Add updates and rewrite commit message to branch ${{ env.GIT_BRANCH_NAME }}
      #  run: |
      #    git reset --soft HEAD~1

      #    # This add is important in event CHANGELOG.md doesn't exist
      #    git add CHANGELOG.md

      #    # Warn: github.event.head_commit.message empty if job started via workflow_dispatch
      #    git commit --all --message "${{ github.event.head_commit.message }}

      #    Update CHANGELOG.md and/or MSRV badge from Github Actions
      #    [actions skip]"
      #    git status
      #    git log -5

      - name: Simulate merge for changelog
        if: needs.generate_changelog.output.needs-commit == 'true'
        env:
          defaultBranch: ${{ github.event.repository.default_branch }}
          prNumber: ${{ env.PR_NUMBER }}
          prTitle: ${{ env.PR_TITLE }}
        run: |
          git checkout "${defaultBranch}"
          git pull
          git commit --all --allow-empty -m "${prTitle} (#${prNumber})"
          git log -5

      - name: Generate a changelog
        uses: orhun/git-cliff-action@v1
        id: git-cliff
        with:
          config: cliff.toml
          args: --verbose
        env:
          OUTPUT: ${{ env.CHANGELOG_FILENAME }}
      - name: Print the changelog
        run: cat "${{ steps.git-cliff.outputs.changelog }}"
      - name: Upload generated CHANGELOG
        uses: actions/upload-artifact@v2
        with:
          name: ${{ env.CHANGELOG_FILENAME }}
          path: ${{ env.CHANGELOG_FILENAME }}
          retention-days: 1

      - name: Reset
        run: |
          git reset HEAD --hard
          git checkout ${{ env.PR_BRANCH }}

      # Test if CHANGELOG.md needs to be updated
      - name: Test if ${{ env.CHANGELOG_FILENAME }} needs updating in repo
        id: repo-check
        run: |
          git add $CHANGELOG_FILENAME
          git status
          FILES_ADDED=$(git diff --cached --name-only | grep --count $CHANGELOG_FILENAME)
          if [[ "$FILES_ADDED" -eq 1 ]]; then
            echo "Need to update $CHANGELOG_FILENAME"
            git commit -m "Updating $CHANGELOG_FILENAME [actions skip]"
            echo "::set-output name=result::true"
          else
            echo "No $CHANGELOG_FILENAME changes to commit"
            echo "::set-output name=result::false"
          fi



  commit_changelog:
    name: Commit updates
    runs-on: ubuntu-latest
    needs:
      - get_pr_info
      - generate_changelog
    permissions:
      contents: write
      pull-requests: write
    steps:
      #- name: my-app-install token
      #  id: my-app
      #  uses: getsentry/action-github-app-token@v1
      #  with:
      #    app_id: ${{ secrets.APP_ID }}
      #    private_key: ${{ secrets.APP_PRIVATE_KEY }}
      #- name: Checkout repo
      #  uses: actions/checkout@v3
      #  with:
      #    repository: tjtelan/bot-test
      #    token: ${{ steps.my-app.outputs.token }}


      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
          token: ${{ secrets.GITHUB_TOKEN }}

      #- name: Git branch name
      #  id: git-branch-name
      #  uses: EthanSK/git-branch-name-action@v1

      - name: Download ${{ env.CHANGELOG_FILENAME }}
        uses: actions/download-artifact@v2
        with:
          name: ${{ env.CHANGELOG_FILENAME }}
          path: .

      #- name: Git branch name
      #  id: git-branch-name
      #  uses: EthanSK/git-branch-name-action@v1



      - name: Commit ${{ env.CHANGELOG_FILENAME }} to repo
        if: needs.generate_changelog.output.needs-commit == 'true'
        run: |
          gh auth login < ${{ secrets.GITHUB_TOKEN }}
          gh pr checkout ${{ inputs.pr_number }}

          git add ${{ env.CHANGELOG_FILENAME }}
          git commit -m "Updating $CHANGELOG_FILENAME [actions skip]"
          git push

      - name: Add PR Comment
        uses: mshick/add-pr-comment@v1
        with:
          message: bors retry
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          repo-token-user-login: 'github-actions[bot]'
